*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #eeeeee;
    font-family: 微軟正黑體;
    font-size: 18px;
    background: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

header{
    background: url(https://images.unsplash.com/photo-1637795147332-b245a9991890?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) bottom center no-repeat;
    background-size: cover;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header div{
   /* background: none;*/
    color: white;
    font-size: 40px;
    font-weight: 500;
    width: 400px;
    align-self: center;
    justify-self: center;
}

header .link{
    margin-top: 20px;
    background-color: rgba(100,100,100,0.6);
    width: 10%;
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

header .link>a{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /*background: none;*/
    color: white;
}

header .link:hover{
    background-color: rgba(100,100,100);
}

section{
    display: flex;
    width: 1200px;
    margin: 50px auto;
    align-content: center;
    justify-content: center;
}

section>.intro{
    flex: none;
    width: 50%;
    padding: 20px;
    text-align: justify;
	text-indent : 2em;
    line-height: 28px;
}

section>.item{
    flex: auto;
    padding: 10px 100px;
    /*margin-left: 100px;*/
    margin: auto;
}

section .item>div{
    display: flex;
    padding: 15px;
}

section .item div>div{
    margin-left: 15px;
}

main{
    /*background-color: red;*/
    height: 750px;
    width: 100%;
    /*background: none;*/
    display: flex;
}

form{
    margin: auto;
    margin-right: 20px;
    width: 300px;
    height: 600px;
    padding: 1em;
    border: 1px solid #999;
    border-radius: 0.2rem;
    background-color: white;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
}

form >div{
    margin: auto;
    margin-bottom: 1.5em;
}

/*h2,fieldset,legend,label,input[type='date'],select,option,span,div,h5,p{
    background: none;
}*/

h2{
    font-size: 25px;
    margin-bottom: 10px;
}
  
legend{
    font-weight: bold;
    color: 	#696969;
    font-size: 17.5px;
    margin: 5px;
}
  
fieldset{
    width: 260px;
    margin-left: 5px;
    box-sizing: border-box;
    border: 1px solid #999;
}

fieldset> div{
    margin-bottom: 1em;
}

fieldset label span{
    text-align: right;
}

label span{
    display: inline-block;
    width: 80px;
    text-align: left;
    font-size: 16px;
}

.title{
    position: relative;
    left: 25px;
}

input{
    font: 0.9em sans-serif,微軟正黑體;
    width: 150px;
    border: 1px solid #999;
}

select{
    width: 155px;
    height: 25px;
    font: 1em sans-serif;
    border: 1px solid #999;
    cursor: pointer;
}

button{
    margin: 0px 15px;
    width: 240px;
    height: 27px;
    font-size: 16px;
    background-color: green;
    color: white;
    border-radius: 0.8px;
    cursor: pointer;
}

form div h5{
    margin: 20px;
    width: 230px;
    text-align: justify;
    font-size: 14px;
}

form div p{
    margin: 10px 30px;
    width: 215px;
    font-size: 14px;
    /*margin-left : 1em;*/
    text-indent : -1em ;
    text-align: justify;
    line-height: 15px;
}

.star{
    font-size: 13px;
    color: red;
}

.board{
    margin: auto;
    margin-left: 40px;
    width: 800px;
    height: 600px;
    background-color: white;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
    border-radius: 0.2rem;
    overflow: scroll;
}

.board>.show{
  font-size: 16px;
  line-height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 1px solid rgba(40,99,119);*/
  /*border-radius: 0.5rem;*/
  border-top: 1.5px solid rgba(40,99,119);
  border-bottom: 1.5px solid rgba(40,99,119);
  z-index: 1;
  /*background-color: #F0F0F0;*/
}

.show div{
    flex: auto;
    width: 20%;
    margin: 0px;
    text-align: center;
}

.odd{
  font-size: 16px;
  line-height: 35px;
  margin: 0;
  padding: 0;
  width: 20%;
  text-align: center;
  display: inline-block;
  border-top: 1px solid rgba(40,99,119);
  border-bottom: 1px solid rgba(40,99,119);
}

.even{
  font-size: 16px;
  line-height: 35px;
  margin: 0;
  padding: 0;
  width: 20%;
  text-align: center;
  display: inline-block;
  border-top: 1px solid rgba(40,99,119);
  border-bottom: 1px solid rgba(40,99,119);
  background-color: rgba(240,240,240,0.4);
}

.positive{
    color: green;
}

.negative{
    color: red;
}

/*@media(max-width:1200px){
    *{
        font-size: 14px;
    }
    section{
        width: 90%;
    }
    section>.item{
        flex: auto;
        padding: 10px 100px;
        margin: auto;
    }
    .border{
        width: 55%;
    }*/
}